{% extends 'base.html' %}
{% block content %}
    <div class="row content-section">
        <h3>welcome</h3>
        <div class="col-sm-12">
            {% for post in posts %}
                <div class="card mt-1">
                    <div class="react">
                        <img src="{{post.user.profile.image.url}}" alt="" class="rounded ml-1" style="width: 60px; height:60px; border-radius: 50%; border:2px red solid">
                        <p>{{post.user}}</p>
                    </div>
                    
                    <img class="card-img-top mt-1" src="{{post.image.url}}" alt="Card image cap">
                    <div class="card-body">
                        
                        <div class="react">
                            <a href="{% url 'like-post' post.id %}"><img src="https://img.icons8.com/ios-glyphs/30/000000/hearts.png"/></a>
                            <img data-toggle="collapse" data-target="#commentSec{{post.id}}" src="https://img.icons8.com/metro/26/000000/comments.png"/></a>                      

                        </div>
                        
                        <p class="card-text">{{post.desc | truncatewords:20}} <a href="{% url 'post-detail' post.id %}">read more</a></p>
                        <div class="react">
                            <p>{{post.likes}} Likes</p>
                            <p>{{post.comment_set.all | length}} Comments</p>
                        </div>
                        
                        <div class="card-footer collapse" id='commentSec{{post.id}}'>
                            
                            {% for comment in post.comment_set.all %}
                                <small>{{comment.content}}</small><br>
                            {% endfor %}
                            <form class="form-inline" action="{%url 'addcomment' post.id%}" method="POST">   
                                {% csrf_token %}                         
                                <div class="form-group">
                                <input type="text" class="form-control col" id="comment" placeholder="Comment" name="comment">
                                </div>
                                <button type="submit" class="btn btn-outline-primary ml-2">Post</button>
                            </form>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}

        </div>
        

    </div>
{% endblock %}